/**************************************** Headers ****************************************/
.logo {
  height: 50px;
  width: 200px;
}

#headerShadow {
  -webkit-box-shadow: 0 8px 6px -6px grey;
   -moz-box-shadow: 0 8px 6px -6px grey;
        box-shadow: 0 8px 6px -6px grey;
}

/**************************************** Footers ****************************************/
.footer {
    position:sticky;
    bottom: 0;
    width: 100%;
    height: 120px;
    line-height: 60px;
    background-color: #f5f5f5;
}

.text-muted {
    color: #6c757d!important;
}

#footer {
  text-align: center;
}

#footerShadow {
  -webkit-box-shadow: 0px -4px 5px 0px grey;
  -moz-box-shadow: 0px -4px 5px 0px grey;
  box-shadow: 0px -4px 5px 0px grey;
}
/**************************************** MainBackground ****************************************/



/**************************************** Logged Out Page ****************************************/
.mainBackground {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
}

.signIn {
  background-color: white;
  display: flex;
  justify-content:center;
  padding: 30px;
  margin: 80px;
  margin-left: 250px;
  border-radius: 10px;
}

.register {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  margin: 80px;
  margin-right: 250px;
  border-radius: 10px;
  width: 366.08px;
}


/**************************************** Dashboard ****************************************/
.dashboardBackground {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

#welcome {
  text-align: center;
  color: #2c75ff;
}

#whattodo {
  text-align: center;
}

#dashboardCarousel {
  width:60%;
  height: 500px;
  padding: 50px;
  margin-left: 295px;
  margin-top: -30px;
}
#carouselFirstImage {
  height: 500px;
  padding: 80px;
  margin-top: -60px;
}
#carouselSecondImage {
  height: 500px;
  padding: 80px;
  margin-top: -60px;
}

.personalChart {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}


body, table, input, select, textarea {

}


.graph {
	margin-bottom:1em;
  font:normal 100%/150% arial,helvetica,sans-serif;
}

.graph caption {
	font:bold 150%/120% arial,helvetica,sans-serif;
	padding-bottom:0.33em;
}

.graph tbody th {
	text-align:right;
}

@supports (display:grid) {

	@media (min-width:32em) {

		.graph {
			display:block;
      width:600px;
      height:300px;
		}

		.graph caption {
			display:block;
		}

		.graph thead {
			display:none;
		}

		.graph tbody {
			position:relative;
			display:grid;
			grid-template-columns:repeat(auto-fit, minmax(2em, 1fr));
			column-gap:2.5%;
			align-items:end;
			height:100%;
			margin:3em 0 1em 2.8em;
			padding:0 1em;
			border-bottom:2px solid rgba(0,0,0,0.5);
			background:repeating-linear-gradient(
				180deg,
				rgba(170,170,170,0.7) 0,
				rgba(170,170,170,0.7) 1px,
				transparent 1px,
				transparent 20%
			);
		}

		.graph tbody:before,
		.graph tbody:after {
			position:absolute;
			left:-3.2em;
			width:2.8em;
			text-align:right;
			font:bold 80%/120% arial,helvetica,sans-serif;
		}

		.graph tbody:before {
			content:"100%";
			top:-0.6em;
		}

		.graph tbody:after {
			content:"0%";
			bottom:-0.6em;
		}

		.graph tr {
			position:relative;
			display:block;
		}

		.graph tr:hover {
			z-index:999;
		}

		.graph th,
		.graph td {
			display:block;
			text-align:center;
		}

		.graph tbody th {
			position:absolute;
			top:-3em;
			left:0;
			width:100%;
			font-weight:normal;
			text-align:center;
      white-space:nowrap;
			text-indent:0;
			transform:rotate(-45deg);
		}

		.graph tbody th:after {
			content:"";
		}

		.graph td {
			width:100%;
			height:100%;
			background:#F63;
			border-radius:0.5em 0.5em 0 0;
			transition:background 0.5s;
		}

		.graph tr:hover td {
			opacity:0.7;
		}

		.graph td span {
			overflow:hidden;
			position:absolute;
			left:50%;
			top:50%;
			width:0;
			padding:0.5em 0;
			margin:-1em 0 0;
			font:normal 85%/120% arial,helvetica,sans-serif;
/* 			background:white; */
/* 			box-shadow:0 0 0.25em rgba(0,0,0,0.6); */
			font-weight:bold;
			opacity:0;
			transition:opacity 0.5s;
      color:white;
		}

		.toggleGraph:checked + table td span,
		.graph tr:hover td span {
			width:4em;
			margin-left:-2em; /* 1/2 the declared width */
			opacity:1;
		}






	} /* min-width:32em */

} /* grid only */


.dashboardProfileLogo {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
}

#dashboardProfilePic {
  margin-top: 125px;
  border-radius: 60px;
}










/**************************************** My Achievements ****************************************/
.myAchievementsBackground {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.achievementResumeButtons {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.PersonalProjectTitleButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.addNewPersonalProject {
  margin-left: 30px;
  margin-top: 7px;
}

.achievementTableAccessButtons {
  display: flex;
  flex-direction: row;

}

.fixed_header{
    width: 80%;
    table-layout: fixed;
    padding: 20px;
    border-radius: 40px;
    margin-left: 150px;
}

.fixed_header tbody{
  display:block;
  width: auto;
  overflow: auto;
  height: 250px;
}

.fixed_header thead tr {
   display: block;
}

.fixed_header thead {
  background: black;
  color:#fff;
}

.fixed_header th, .fixed_header td {
  padding: 5px;
  text-align: center;
  width: 200px;
}

.personalProjectDescription {
  width: 300px;
}

.personalProjectOptions {
  width: 20px;
  margin-left: 50px;
}

.filler {
    background-color: lightgray;
    height:50px;
}

/**************************************** Add New Personal Projects ****************************************/
.addNewAchievementsBackground {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.addNewProjectBox {
  width: 80%;
  height: 500px;
  background-color: #F5F2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  border-radius: 30px;
}

.addNewProjectBoxTitle {
  margin-bottom: 20px;
  margin-left: 50px;
}

.horizontalForm {
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
}

#projectDescription {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 30px;
}

#dateInputs {
  margin-top: 25px;
  padding-bottom: 25px;
}


/**************************************** Add New Resume ****************************************/
.addNewResumeBox {
  width: 80%;
  height: auto;
  background-color: #F5F2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 150px;
  border-radius: 30px;
  padding-top: 40px;
}

.addNewResumeBoxTitle {
  margin-bottom: 20px;
  margin-left: 50px;
}


.achievementListAndResumeDetails {
  width: 80%;
}
