<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">

      <!-- Begin page content -->

      <footer class="footer" id="footerShadow">
        <div class="fixed-bottom">
          <h6 class="text-muted" id="footer">Thank you for using ResuMe!</h6>
          <p class="text-muted" id="footer">Contact us at [Email]</p>
        </div>
      </footer>


  </body>
</html>
