<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>
  </head>
  <body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">

      <!-- Begin page content -->
    <div class="footer" id="footerShadow">
        <a class="text-muted" href="/aboutUs"><strong>ResuMe</strong></a>
        <a class="text-muted"> • </a>
        <a class="footer-link text-muted" href="https://www.linkedin.com">LinkedIn</a>
        <a class="text-muted"> • </a>
        <a class="footer-link text-muted" href="https://www.instagram.com">Instagram</a>
        <a class="text-muted"> • </a>
        <a class="contact-us text-muted" href="mailto:resume@gmail.com">CONTACT US</a>
        <p class="copyright text-muted">© 2020 ResuMe. All Rights Reserved.</p>
    </div>

  </body>
</html>
