<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body data-new-gr-c-s-check-loaded="14.988.0" data-gr-ext-installed="">

      <!-- Begin page content -->
    <div class="footer" id="footerShadow">
        <p class="text-muted">Thank you for using ResuMe!</p>
        <a class="contact-us text-muted" href="mailto:yappeizhen@gmail.com">Contact us at ResuMe@gmail.com</a>
        <p class="copyright text-muted">© 2020 ResuMe.</p>
    </div>

  </body>
</html>
