<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>ResuMe</title>
  <%- include("loggedOutHeader") %>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link rel="icon" href="/images/favicon.ico" type="image/favicon.ico">
</head>

<body>
  <div class="mainBackground">
    <div class="signIn">
      <div class="signInText">
        <form method="post" autocomplete="off" action="/loggedOut">
          <div class="mb-3">
            <label for="emailAddress" class="form-label">Email address</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" aria-describedby="emailHelp" required>
            <div id="emailAddress" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe" name="rememberMe">Remember Me</label>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <div class="register">
      <div class="registerText">
        <form method="post" autocomplete="off" action="/loggedOut">
          <div class="mb-4">
            <label for="newEmailAddress" class="form-label">Email address</label>
            <input type="email" class="form-control" id="newEmailAddress" name="newEmailAddress" aria-describedby="emailHelp" required size="35">
          </div>
          <div class="mb-4">
            <label for="newUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="newUsername" name="newUsername" aria-describedby="emailHelp" required>
          </div>
          <div class="mb-4">
            <label for="dOB" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" id="dOB" name="dOB" aria-describedby="emailHelp">
          </div>
          <div class="mb-4">
            <label for="mobileNumber" class="form-label">Contact Information</label>
            <input type="number" class="form-control" id="mobileNumber" name="mobileNumber" aria-describedby="emailHelp">
          </div>
          <div class="mb-4">
            <label for="newPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" required>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </form>
      </div>
    </div>
  </div>

</body>

</html>
